<div class="row">
    <div class="panel panel-default">
  <div class="panel-body">

        <div class="col-sm-4 text-center">

            <div class="panel panel-default">
              <div class="panel-heading"><h5>Créer un nouveau set</h5></div>
              <div class="panel-body">
                  <a class="btn btn-default" href="{{ urlFor('createform') }}">Création</a>
              </div>
            </div>

        </div>

        <div class="col-sm-4 text-center">
            <div class="panel panel-default">
              <div class="panel-heading"><h5>Afficher les sets existants</h5></div>
              <div class="panel-body">
                  <a class="btn btn-default" href="{{ urlFor('listset') }}">Liste des sets existants</a>
              </div>
            </div>
        </div>

        <div class="col-sm-4 text-center">
            <div class="panel panel-default">
              <div class="panel-heading"><h5>Gérer vos fichiers physiques</h5></div>
              <div class="panel-body">
                   <a class="btn btn-default" href="{{ urlFor('displaymanagefiles') }}">Gestion</a>
              </div>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <div class="">
              <h1>Application OAI - {{ organization }}</h1>
              <p>Créer et gérer tous vos sets de documents</p>
              <p><a class="btn btn-default btn-lg" href="{{ urlFor('documentation') }}">Plus de détails</a></p>
    </div>
        </div>
    </div>

  </div>
</div>
