{% extends 'master.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
        <nav>
            <ul class="pager">
                <li><a href="{{ urlFor('listset') }}"><span aria-hidden="true">&larr;</span> Retour vers la liste des sets</a></li>
                <li><a href="{{ urlFor('listmetadataformat',{"set": set}) }}">retour vers la liste des formats</a></li>
            </ul>
        </nav>
    <ul class="nav nav-tabs">
        <li class="nav active"><a href="#A" data-toggle="tab">Fichiers publiés</a></li>
        <li class="nav"><a href="#B" data-toggle="tab">Fichiers supprimés</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="A">
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Liste des fichiers dans le set <span id="nameset">{{ set }}</span></th>
                        <th>
                            statut
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
            {% for file in listFiles %}
            {% set title = file.xml_path|split('/')|last %}
                    <tr class="btnDelete" data-id="{{ file.id }}" >
                        <td>
                            <dl>
                                <dt><h4><span class="label label-primary">{{ title }}</span></h4></dt>
                                <dd><h5><span class="label label-info">{{ file.metadata_format }}</span><span class="label label-warning">{{ file.xml_path }}</span></h5></dd>
                            </dl>

                        </td>
                        <td><h4><span class="label label-success">{{ file.state }}</span></h4></td>
                        <td><button  data-toggle="modal" data-target="#myremoveModal" class="btnDelete btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                    </tr>
            {% endfor %}
               </tbody>
          </table>
        </div>
           <!-- start: Delete Coupon Modal -->
<div class="modal fade" id="myremoveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h3 class="modal-title" id="myModalLabel">Attention !</h3>

            </div>
            <div class="modal-body">
                 <h4> Etes-vous sure de vouloir supprimer ce parcours ?</h4>
            </div>g
            <!--/modal-body-collapse -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnDelteYes" href="#">OUI</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">NON</button>
            </div>
            <!--/modal-footer-collapse -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 

        </div>
        <div class="tab-pane fade" id="B">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Liste des fichiers supprimés dans le set <span id="nameset">{{ set }}</span></th>
                        <th>
                            statut
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% for rmfile in removelistFiles %}
            {% set title = rmfile.xml_path|split('/')|last %}
                    <tr class="btnDelete" data-id="{{ rmfile.id }}" >
                        <td>
                            <dl>
                                <dt><h4><span class="label label-primary">{{ title }}</span></h4></dt>
                                <dd><h5><span class="label label-info">{{ rmfile.metadata_format }}</span><span class="label label-warning">{{ rmfile.xml_path }}</span></h5></dd>
                            </dl>

                        </td>
                        <td><h4><span class="label label-danger">Supprimé</span></h4></td>
                    </tr>
            {% endfor %}
               </tbody>
          </table>
        </div>

        </div>
    </div>
                   </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
