{% block body %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h3 class="page-header">Liste de vos sets</h3>
            <ul class="list-group">
            {% for set in listsets %}
                <li class="list-group-item">
                    <div class="row">
                    <div class="col-lg-4">{{ set.set_name }}</div>
                       <div class="col-lg-8">
                            <a class="btn btn-default" role="button" href="{{ urlFor('listmetadataformat', {'set': set.set_name} )}}">Liste des formats présents</a>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success">
                                    Ajouter des fichiers
                                </button>
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                                    <span class="caret"></span>
                                    <span class="sr-only"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {% for format in listformats%}
                                        <li><a href="{{ urlFor('displayaddfiles',{ 'set': set.set_name, 'format': format.name })}}">{{ format.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger">
                                    Supprimer des fichiers
                                </button>
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                                    <span class="caret"></span>
                                    <span class="sr-only"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {% for format in listformats%}
                                        <li><a href="{{ urlFor('displaydeletefiles',{ 'set': set.set_name, 'format': format.name })}}">{{ format.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a class="btn btn-danger" role="button" href="{{ urlFor('deleteset', {'set': set.set_name })}}">Supprimer ce set</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {{ flash.message }}
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
