{% block body %}
<div class="container">
    <div class="row">
            <div class="col-sm-10">
            <h3 class="page-header text-center">Liste de vos sets</h3>
            <table class="table table-responsive" id="listsettable">
                <thead>
                <tr>
                    <th>Nom du set</th>
                    <th>Acceder aux fichiers</th>
                    <th>Ajouter des fichiers</th>
                    <th>Supprimer des fichiers</th>
                    <th>Supprimer un Set</th>
                </tr>
                </thead>
                <tbody>
                {% for set in listsets %}
                    <tr>
                    <td><h5><span class="label label-info">{{ set.set_name }}</span></h5></td>
                        <td><a class="btn btn-default" role="button" href="{{ urlFor('listmetadataformat', {'set': set.set_name} )}}">Liste des formats présents</a></td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                                    <span class="caret"></span>
                                    <span class="sr-only"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {% for format in listformats%}
                                        <li><a href="{{ urlFor('displayuploadsaddfiles',{ 'set': set.set_name, 'format': format.name })}}">{{ format.name }}</a></li>
                                {% endfor %}
                            </ul>
                            </div>

                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                                    <span class="caret"></span>
                                    <span class="sr-only"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {% if existingtype is not empty %}
                                    {% for formats in existingtype[loop.index0] %}
                                        {% for format in formats %}
                                                <li><a href="{{ urlFor('displaydeletefiles',{ 'set': set.set_name, 'format': format })}}">{{ format }}</a></li>
                                        {% endfor %}
                                     {% else %}
                                        <li>Il n'y a pas de fichier à supprimer</li>
                                   {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#myModalDeleteSet{{ loop.index }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <div class="modal fade" id="myModalDeleteSet{{ loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteSetLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times</span></button>
                                        <h4>Confirmation de la suppression</h4>
                                    </div>
                                    <div class="modal-body" id="">
                                        Êtes vous sur de vouloir supprimer le set {{ set.set_name }} et ses fichiers ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a class="btn btn-success" role="button" href="{{ urlFor('deleteset', {'set': set.set_name })}}">Supprimer ce set</a>
                                    </div>
                                </div>
                            </div>
                            </div>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>
          </table>
    </div>
    {% if flash.message is defined %}
    <div class= "message">
        {{ flash.message }}
    </div>
    {% endif %}
    {% if flash.error is defined %}
    <div class="error">
        {{ flash.error }}
    </div>
    {% endif %}
    </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
