{% extends 'master.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
        <nav>
            <ul class="pager">
                <li><a href="{{ urlFor('listset') }}"><span aria-hidden="true">&larr;</span> Retour vers la liste des sets</a></li>
            </ul>
        </nav>
            <h3 class="page-headeri">Ajout de fichiers {{ format }} dans le set {{ setname }}</h2>
            {% if flash.error is defined or flash.message is defined %}
                {% if flash.message is defined %}
                <div class= "message">
                    {{ flash.message }}
                </div>
                {% endif %}
                {% if flash.error is defined %}
                <div class="error">
                    {{ flash.error }}
                </div>
                {% endif %}
                <a href="{{ urlFor('listfile', {'set': setname, 'metadataformat': format}) }}" role="button" class="btn btn-primary">Voir la liste des fichiers</a>
            {% else %}
           {% endif %}
                    <input type="hidden" id="setname" value="{{ setname }}" />
                    <input type="hidden" id="format"  value="{{ format }}"/>

                    <div id="fileuploader">Choisissez vos fichiers</div>
                    <div id="status"></div>
                    <button id="startUpload" class="btn btn-primary">Démarrez l'upload</button>
                </div>
            <a href="{{ urlFor('displayaddfiles', {'set': setname, 'format': format}) }}" role="button" class="btn btn-primary">Ajoutez vos fichiers dans votre set</a>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
