<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{siteUrl('/')}}"><i class="fa fa-home fa-fw"></i> Retour à l'accueil</a>
            </li>
            <li>
                <a href="{{siteUrl('/doc')}}"><i class="glyphicon glyphicon-globe"></i> Principes</a>
            </li>
            <li>
                <a href="{{siteUrl('doc/objectifs')}}"><i class="glyphicon glyphicon-tower"></i> Objectifs</a>
            </li>
            <li>
                <a href="{{siteUrl('/doc/informations')}}"><i class="glyphicon glyphicon-hdd"></i> Informations techniques</a>
            </li>
             <li>
                <a href="{{siteUrl('/doc/documentation')}}"><i class="glyphicon glyphicon-info-sign"></i> F.A.Q.</a>
            </li>
       </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->
